{
    "env": {
        "es6": true,
        "node": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended"
    ],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module"
    },
    "plugins": [
        "@typescript-eslint"
    ],
    "rules": {
        "brace-style": "off",
        "indent": "off",
        "no-unused-vars": "off",
        "@typescript-eslint/brace-style": [
            "error",
            "1tbs"
        ],
        "@typescript-eslint/indent": [
            "error",
            4,
            {
                "FunctionDeclaration": {
                    "parameters": 2
                }
            }
        ],
        "@typescript-eslint/member-delimiter-style": [
            "error",
            {
                "multiline": {
                    "delimiter": "none"
                },
                "singleline": {
                    "delimiter": "comma"
                }
            }
        ],
        "@typescript-eslint/no-extra-parens": "error",
        "@typescript-eslint/no-unused-vars": [
            "error",
            {
                "vars": "all",
                "args": "after-used",
                "ignoreRestSiblings": false,
                "varsIgnorePattern": "^_"
            }
        ],
        "array-bracket-spacing": [
            "error",
            "always"
        ],
        "arrow-parens": [
            "error",
            "as-needed"
        ],
        "block-spacing": [
            "error",
            "always"
        ],
        "curly": [
            "error",
            "all"
        ],
        "default-case": "error",
        "dot-location": [
            "error",
            "property"
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "max-len": [
            "error",
            {
                "code": 100
            }
        ],
        "no-await-in-loop": "error",
        "no-extra-bind": "error",
        "no-extra-label": "error",
        "no-lone-blocks": "error",
        "no-loop-func": "error",
        "no-magic-numbers": [
            "error",
            {
                "ignore": [ 0, 1, 2 ]
            }
        ],
        "no-multi-spaces": [
            "error",
            {
                "exceptions": {
                    "ImportDeclaration": true
                },
                "ignoreEOLComments": true
            }
        ],
        "no-multi-str": "error",
        "no-param-reassign": "error",
        "no-sequences": "error",
        "no-shadow": "error",
        "no-unmodified-loop-condition": "error",
        "no-useless-call": "error",
        "no-with": "error",
        "prefer-promise-reject-errors": "error",
        "require-await": "error",
        "require-unicode-regexp": "error",
        "semi": [
            "error",
            "never"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "yoda": [
            "error",
            "never",
            {
                "exceptRange": true
            }
        ]
    }
}
